

<h1 style="text-align: center; color: red">Allowance Dashboard</h1>

<style>
    .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align:center; 
    table-layout: fixed
}

.styled-table thead tr {
    background-color: #e98007;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #e4630d;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #f1720a;
}
</style>

<div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>SAP Id</th>
                <th>Project Hours</th>
                <th>Holiday/Leave Hours</th>
                <th>Afternoon Shift Hours</th>
                <th>Night Shift Days</th>
                <th>Days Elligible for TA</th>
                <th>Transport Allowance</th>
                <th>Total Allowance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chris</td>
                <td>98443</td>
                <td>160</td>
                <td>0</td>
                <td>20</td>
                <td>0</td>
                <td>20</td>
                <td>3000</td>
                <td>6000</td>
            </tr>
            <tr class="active-row">
                <td>Thomas</td>
                <td>98342</td>
                <td>150</td>
                <td>0</td>
                <td>22</td>
                <td>0</td>
                <td>26</td>
                <td>3000</td>
                <td>7000</td>
            </tr>
            <tr class="active-row">
                <td>Prajwal</td>
                <td>98586</td>
                <td>130</td>
                <td>0</td>
                <td>17</td>
                <td>4</td>
                <td>20</td>
                <td>5000</td>
                <td>8000</td>
            </tr>
            <tr class="active-row">
                <td>Josh</td>
                <td>98112</td>
                <td>110</td>
                <td>10</td>
                <td>18</td>
                <td>0</td>
                <td>20</td>
                <td>5000</td>
                <td>10000</td>
            </tr>
            <tr class="active-row">
                <td>Sam</td>
                <td>98231</td>
                <td>135</td>
                <td>15</td>
                <td>12</td>
                <td>0</td>
                <td>20</td>
                <td>4000</td>
                <td>8000</td>
            </tr>
        </tbody>
    </table>


</div>
