<!-- <p>user works!</p>

<form ngform>
    <div class="form-group">
        <label for="name">
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
        </label>
    </div>
    <div>
        <div class="form-group">..</div>
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" required[(ngModel)]="model.age" name="age">
        <button type="submit" class="btn btn-danger" (click)=" createCustomer()">
            Submit</button>
        <button type="submit" class="btn btn-warning" (click)="confirmEditCustomer()"> Confirm Edit</button>
    </div>
</form>
<div>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </table>
</div> -->